{% extends 'base.html' %}

{% block content %}
<h1>My Food Items</h1>
    {% for item in object %}
        <p><input type="checkbox" name="selected" value="{{ item.pk }}" {% if item.selected %}checked{% endif %}> {{ item.user_input }}</p>
    {% endfor %}
    <form method='POST'> {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <input type='submit' value='Save' />
        <input type='submit' name='delete' value='Delete' />
    </form>

{% endblock %}

