{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">Ingredients</h1>
<style type="text/css">
  .card-body .ingredients {
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    background-color: white;
    font-size: 16px;
  }
  .card {
    background-color: white;
    padding: 0px;
    border-radius: 10px;
  }
  .card-header{
    font-weight:bold;
    font-size: 18px;
  }
</style>
<div class="row">
  {% for category in ingredient_categories %}
    <div class="col-4">
      <div class="card">
        <div class="card-header">{{ category|upper }}</div>
        <div class="card-body">
          <div class="ingredients">
          <form action="{% url 'add_ingredients' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Add" class="btn btn-primary"></button>
            {% for ingredient in ingredient_data %}
              {% if ingredient.type == category %}
                <div>
                  <input type="checkbox" class="ingredient-checkbox" name="selected" value="{{ ingredient.id }}"> {{ ingredient.name|capfirst }}
                </div>
              {% endif %}
            {% endfor %}
          </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
