{% extends 'base.html' %}

{% block content %}

<style>
    .sticky {
      position: fixed;
      top: 0;
      left: 500;
      width: 50%;
      height: 100vh;
      padding-top: 0px;
      {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
      font-weight: bold;
      text-transform: capitalize;
    }
  
    .card-header {
        display: flex;
        background-color: transparent;
        pointer-events: none;
        {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
        color: black;
        height: 4vh;
        border: none;
    }
    
    .card-header button {
        pointer-events: none;
        {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
        color: black;
        font-size: 22px;
        line-height: 3vh;
    }
    
        
    .scrollable {
      margin-left: 30px;
      height: 100vh;
      overflow-y: scroll;
      {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
    
    }
  
    .fixed-button {
      position: fixed;
      top: 10px;
      right: 30px;
      background-color: white;
      padding: 0px;
      {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
    }
  
    .list-group-item {
      {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
      font-size: 16px;
    }
    
    {% comment %} h3 {
      text-align: center;
      position: absolute;
      top: 10px;
      left: 18%; {% endcomment %}
      {% comment %} font-family: 'Arial', sans-serif; {% endcomment %}
    {% comment %} } {% endcomment %}
  </style>
  
{% comment %} 
<h3>My Food Items</h3> {% endcomment %}

<div class="row">
  <div class="col-4">
    <div class="sticky">
      <div id="categoryList" class="list-group">
        {% for category_name, items in categories.items %}
          <a class="list-group-item list-group-item-action" href="#category{{ forloop.counter }}" data-bs-toggle="collapse" data-bs-target="#category{{ forloop.counter }}">{{ category_name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="scrollable">
      <div class="accordion" id="categoryAccordion">
        <form method="POST" action="{% url 'delete_my_food' %}">
          {% csrf_token %}
          {% for category_name, items in categories.items %}
            <div class="card">
              <div class="card-header" id="heading{{ forloop.counter }}">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" aria-expanded="true" aria-controls="category{{ forloop.counter }}" data-bs-parent="#categoryAccordion">
                    {{ category_name|title }}
                  </button>
                </h5>
              </div>
              <div id="category{{ forloop.counter }}" class="collapse show" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#categoryAccordion">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    {% for item in items %}
                      <li class="list-group-item">
                        <input type="checkbox" name="selected" value="{{ item.pk }}">
                        {{ item.user_input|title }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="fixed-button">
            <button type="submit" name="delete" value="delete" class="btn btn-danger text-center">Delete My Food Item</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


